<div>
    <table id="example" class="table table-striped table-bordered text-center" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Status</th>
                <th>Manage</th>
                <th>Job Name</th>
                <th>Group</th>
                <th>Command</th>
                <th>Log</th>
                <th>New Start Time</th>
                <th>Sort Time</th>
                <th>Previous Duration</th>
                <th>Duration</th>
                <th>Previous Statues</th>
                <th>Status</th>
                <th>Next Jobs</th>
                <th>Restartable</th>
            </tr>
        </thead>
        <!-- <tfoot>
              <tr>
                  <th>Name</th>
                  <th>Position</th>
                  <th>Office</th>
                  <th>Age</th>
                  <th>Start date</th>
                  <th>Salary</th>
              </tr>
          </tfoot> -->
        <tbody>
            <tr>
                <td><img alt="Brand" src="app/images/Play_50.png"></i></td>
                <td><img src="https://maxcdn.icons8.com/office/PNG/60/Media_Controls/play-60.png" title="Play"></td>
                <td>Job1</td>
                <td>Job1</td>
                <td>08.03.2017 10:12:03</td>
                <td>$320,800</td>
                <td>Tiger Nixon</td>
                <td>System Architect</td>
                <td>Edinburgh</td>
                <td>61</td>
                <td>Tiger Nixon</td>
                <td>System Architect</td>
                <td>Edinburgh</td>
                <td>61</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>Job 2</td>
                <td>Group 2</td>
                <td>Command 2</td>
                <td>Log 2</td>
                <td>09.03.2017 00:00:00</td>
                <td>08.03.2017 10:12:03</td>
                <td>-</td>
                <td>00:00:10</td>
                <td>(WAITING,WORKING,SUCCESS)</td>
                <td>Ready</td>
                <td>-</td>
                <td>Yes</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>Job 3</td>
                <td>Group 2</td>
                <td>Command 3</td>
                <td>Log 3</td>
                <td>Tiger Nixon</td>
                <td>System Architect</td>
                <td>Edinburgh</td>
                <td>641</td>
                <td>Tiger Nixon</td>
                <td>System Architect</td>
                <td>tEdinburgh</td>
                <td>461</td>
            </tr>
        </tbody>
    </table>
</div>
