







<div class="text-center">

    <h3>header</h3>
    <p>{{ 'TITLE' | translate }} - {{ 'MESSAGE' | translate }}</p>

    <select ng-options="language | translate for language in contentCtrl.languages" ng-model="contentCtrl.language" ng-change="contentCtrl.updateLanguage()"></select>

    <!-- Single button -->
    <!-- <div class="btn-group">
        <label ng-repeat='language in contentCtrl.languages' class="btn btn-danger" ng-model="contentCtrl.language" >{{language}}</label>
    </div> -->


</div>
