<div class="row text-center mt20">
    <div class="col-sm-4">
        <h3>header</h3>
    </div>
    <div class="col-sm-4">
        <p>{{ 'TITLE' | translate }} - {{ 'MESSAGE' | translate }}</p>
        <p>{{ 'common.test' | translate }}</p>
    </div>
    <div class="col-sm-4">
        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Language <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li ng-repeat="language in headerCtrl.languages" ng-click="headerCtrl.changeLanguage(language.code)"><a href="#">{{language.value}}</a></li>
            </ul>
        </div>
    </div>
</div>
