<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="$close('')">
      <i class="fa fa-times-circle-o fa-2x"></i>
  </button>
    <h3 class="modal-title" id="modal-title">Likya Teknoloji</h3>
</div>
<div class="modal-body" id="modal-body">

    <div class="row">
        <div class="col-xs-12">
            <p>Likya Bilgi Teknolojileri ve İletişim Hizmetleri Ltd. Şti.</p>
            <p>© 2008-2017 Tüm Hakları Saklıdır.</p>
            <p>Client : - </p>
            <p>Product Id: -</p>
        </div>

    </div>

</div>
<div class="modal-footer">
    <div class="row">
        <div class="col-xs-4 col-xs-offset-4">
            <button class="btn btn-lg btn-primary btn-block" type="button" ng-click="$close('')">Kapat</button>
        </div>

    </div>
</div>
